{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Dashboard{% endblock %}
{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">

            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>{{ memcounts }}</h3>
                                <a href="{% url 'ChurchDashboard:list_member_url' %}" class="nav-link">
                                    <h6 style="color: #070707">Members</h6></a>
                            </div>
                            <div class="icon">

                                <i class="fas fa-users"></i>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>{{ groupcount }}</h3>
                                <a href="{% url 'ChurchDashboard:list_group_url' %}" class="nav-link">
                                    <h6 style="color: #070707">PC Groups</h6></a>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-gradient-red">
                            <div class="inner">
                                <h3>{{ usercount }}</h3>
                                <a href="{% url 'ChurchDashboard:list_grouplead_url' %}" class="nav-link">
                                    <h6 style="color: #070707"> PC Group Heads</h6></a>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-gradient-secondary">
                            <div class="inner">
                                <h3>{{ chapscount }}</h3>
                                <a href="{% url 'ChurchDashboard:list_chapel_url' %}" class="nav-link">
                                    <h6 style="color: #070707">Chapels</h6></a>
                            </div>
                            <div class="icon">
                                <i class="far fa-building"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">

                        </div>
                    </div>
                </section>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Pastorial Group Heads</h3></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <table id="example2" class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>PCS GROUP HEAD</th>
                                                        <th>GROUP NAME</th>
                                                        <th>CHAPEL</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for db_usered in db_usered %}
                                                        <tr>
                                                            <td>{{ db_usered.id }}</td>
                                                            <td>{{ db_usered.name }}</td>
                                                            <td>{{ db_usered.group }}</td>
                                                            <td>{{ db_usered.chapel }}&nbsp;</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Pastorial Care Latest Members </h3></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <table id="example2" class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>LAST NAME</th>
                                                        <th>FIRST NAME</th>
                                                        <th>PHONE NUMBER</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for mil in mil %}
                                                        <tr>
                                                            <td>{{ mil.id }}</td>
                                                            <td>{{ mil.last_name |lower|capfirst }}</td>
                                                            <td>{{ mil.first_name |lower|capfirst }}</td>
                                                            <td>{{ mil.phone_number }}&nbsp;</td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}